#scene-container {
  position: absolute;
  right: 5%;
  bottom: 5%;
  width: 200px;
  height: 200px;
  background-color: #0000; /* Dark background for contrast */
}

canvas {
  display: block;
  border-radius: 1rem;
}

html,
body {
  height: 100%;
  cursor: url("./media/cursor.png") 16 16, pointer;
}

.miiShadow {
  position: absolute;
  bottom: 10px; /* Position the shadow slightly above the bottom of the container */
  left: 50%;
  transform: translateX(-50%);
  width: 120px; /* Width of the shadow */
  height: 40px; /* Height of the shadow */
  background: rgba(0, 0, 0, 0.5); /* Black with 50% transparency */
  border-radius: 50%; /* Creates the oval shape */
  filter: blur(8px); /* Adds a blur effect to simulate shadow softness */
  z-index: -1; /* Ensure the shadow is behind the canvas */
}

.overlay {
  /* Positioning: Fixed to the top, full width, and initially off-screen */
  position: fixed;
  top: -200vh; /* Start completely above the viewport */
  left: 0;
  width: 100%;
  height: 110vh;

  /* Appearance: White background with a transparent gradient at the bottom */
  background: linear-gradient(
    to bottom,
    white 90%,
    rgba(255, 255, 255, 0) 100%
  );

  /* Transition: Smooth 'ease' transition for the 'top' property over 0.5 seconds */
  transition: top 0.5s ease-in;

  /* Ensure it's above other content */
  z-index: 9999;
}
.overlay.in {
  /* Active state: Bring the overlay into view */
  top: 0; /* Adjust this value to control how much of the overlay is visible */
}
.overlay.out {
  position: fixed;
  top: 0vh; /* Start completely above the viewport */
  left: 0;
  width: 100%;
  height: 110px;
  background: linear-gradient(
    to bottom,
    white 90%,
    rgba(255, 255, 255, 0) 100%
  );

  z-index: 9999;
}

.overlaytest {
  position: fixed;
  top: 0vh; /* Start completely above the viewport */
  left: 0;
  width: 100%;
  height: 110px;
  background: linear-gradient(
    to bottom,
    white 90%,
    rgba(255, 255, 255, 0) 100%
  );
  transition: top 0.5s ease-in;
  z-index: 9999;
}

.canvas-wrapper {
  position: relative; /* Allows absolute positioning of the drop shadow */
  display: inline-block; /* Ensures the wrapper fits the canvas size */

  width: 200px; /* Adjust width as needed */
  height: 100px; /* Adjust height as needed */
  background-color: rgba(0, 0, 0, 0.5); /* Black with 50% transparency */
  border-radius: 50%; /* Creates the oval shape */
}
