* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {
  display: none;
  
}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  top: 100px;
  max-width: 300px;
  position: relative;
  margin: auto;
}



/* next button */
.next {
    cursor: pointer;
    position: absolute;
    width: auto;
    height: auto;
    transition: 0.6s ease;
    user-select: none;
  color:white;
  top:25%;
  left:28%;
  transform: translateZ(10px);
  font-variation-settings: 'wght' 300;
}

.next:hover {
    font-variation-settings: 'wght' 500;
}

.nextContainer {
    position:relative;
    float: right;
    bottom: 50px;
    left: 30px;
    transform-style: preserve-3d;
    background: rgb(53, 72, 87);
    transform: perspective(100px);
    width: 50px;
    height: 50px;
    border-radius: 13px;    
}


/* Caption text */
.text {
  position: relative;

  float: left;
  color: #000000;
  font-size: 20px;
  padding: 8px 12px;
  bottom: 8px;
  width: 100%;
  text-align: center;
  opacity: 100;
  
}

input[type=text] {
  position: relative;

  float: left;
  text-align: left;
    width: 100%;
    box-sizing: border-box;
    border: 3px solid #ccc;
    outline: none;
    border: none;
    border-bottom: solid #000000;
    direction: ltr;
  }
  
  input[type=text]:focus {
    width: 100%;
  }



/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}